---
import { Icon } from "astro-icon";
import Tag from "@components/Tag.astro";

const { frontmatter, lastModified, publicationDate } = Astro.props;

const hasLinks = frontmatter.ext_url || frontmatter.github_repo;
---

{
  publicationDate ? (
    <div class="text-xs text-sushi-600 flex justify-between">
      {publicationDate ? <span>Published on: {publicationDate}</span> : null}
      {lastModified ? <span>Updated on: {lastModified}</span> : null}
    </div>
  ) : null
}
{frontmatter.author ? <p class="">Written by {frontmatter.author}</p> : null}
{frontmatter.description ? <p class="">{frontmatter.description}</p> : null}
{
  frontmatter.tags?.length ? (
    <div class="flex flex-wrap gap-2">
      {frontmatter.tags.map((tag: string) => (
        <Tag tag={tag} />
      ))}
    </div>
  ) : null
}
{
  hasLinks ? (
    <section class="flex gap-2">
      <span>Project links: </span>
      {frontmatter.ext_url ? (
        <a
          href={frontmatter.ext_url}
          class="px-1 flex items-center rounded hover:bg-sushi-700 hover:text-sushi-100 focus:bg-sushi-700 focus:text-sushi-100"
        >
          <Icon
            pack="fa-solid"
            name="link"
            class="h-3"
            title="Link to project's site"
          />
        </a>
      ) : null}
      {frontmatter.github_repo ? (
        <a
          href={frontmatter.github_repo}
          class="px-1 flex items-center rounded hover:bg-sushi-700 hover:text-sushi-100 focus:bg-sushi-700 focus"
        >
          <Icon
            pack="fa-brands"
            name="github"
            class="h-4"
            title="Link to project's github"
          />
        </a>
      ) : null}
    </section>
  ) : null
}
