---
import Layout from './Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import Tag from '../components/Tag.astro';
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <PageTitle>{frontmatter.title}</PageTitle>
  <div class=" max-w-[640px] mx-auto">
    {frontmatter.author ? <p class="mt-8">Written by {frontmatter.author}</p> : null}
    {frontmatter.ext_url ? <p class="mt-8 hover:font-bold focus:font-bold"><a href={frontmatter.ext_url}>External link
			<span>&rarr; </span>{frontmatter.ext_url}</a></p> : null}
    <p class="my-12">{frontmatter.description}</p>
    <p> Tags:</p>
    <div class="flex flex-wrap">
      {frontmatter.tags.map((tag: string) => (
        <Tag tag={tag} />
      ))}
    </div>
  </div>
  <slot />
</Layout>
